html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}
#player {
height: 100%;
width: 100%;
}
#nextButton {
    bottom: 20px;
    right: 100px;
    position: absolute;
    font-size: 40px;
    padding: 10px 50px;
    background: transparent;
    color: white;
}
#fileChangeButton {
    bottom: 20px;
    right: 300px;
    position: absolute;
    font-size: 40px;
    padding: 10px 60px;
    background: transparent;
    color: white;
}