html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}
#player {
height: 100%;
width: 100%;
}
#nextButton {
    bottom: 20px;
    right: 100px;
    position: absolute;
    font-size: 20px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    color: white;
}
#fileButton {
    bottom: 20px;
    right: 210px;
    position: absolute;
    font-size: 20px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    color: white;

}